.product{
	padding-top:30px;
}
.product h2{
	text-align: center;
}
.product h2 span{
	padding-bottom: 4px;
	color:#80b8ff;
	border-bottom: 1px dotted #80b8ff;
	font-size: 14px;
}
.intrduction{
	display: flex;
	height: 240px;
	margin-top: 50px;
}
.intrduction .intrDesk{
	flex:2;
	height: 240px;
}
.intrDesk img{
	height:100%;
}
.intrduction>p{
	height: 240px;
	flex: 3;
	line-height: 3;
	text-align: center;
	background: #739ae6;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#fff;
}
.deskList{
	padding-top: 30px;
}
.deskList>li{
	display: flex;
}
.deskList>li img{
	border:1px solid #eee;
}
.deskList>li .deskIntr{
	text-align:center;
}
.deskIntr h3{
	line-height: 4;
}
.deskIntr p{
	line-height: 2;
}
.deskList>li>div:hover img{
	border:1px solid #a9e5a0;
}
.deskList>li>div:hover .deskIntr{
	color:#5b8ae6;
}

.chairList{
	padding-top: 30px;
}

.chairList>li{
	/*display: flex;*/
	width:100%;
}
.chairList>li>div{
	/*flex: 1;*/
	width:25%;
	float: left;
	text-align: center;
} 
@media all and (max-width: 960px) {
	.chairList>li>div{
		width:50%;
	}
}
.chairList>li img{
	border:1px solid #eee;
}
.chairList>li>div>img{
	width: 100%;
}
.chairList>li>div:hover img{
	border:1px solid #a9e5a0;
}
.chairList .chairIntr{
	padding:0 12px;
}
.chairList>li>div:hover .chairIntr{
	color:#5b8ae6;
}

.chairList .chairIntr h3{
	line-height: 3;
}
.chairList .chairIntr p{
	line-height: 2;
}

.slideBox .hd ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

.slideBox .hd ul li{
	width:160px;
	padding:12px;
}
.slideBox .hd ul li img{
	width:100%;
	box-sizing: border-box;
}
.slideBox .hd li.on img{
	border:2px solid orange;
}