.step{
	padding-top:30px;
}
.step h2{
	text-align: center;
}
.step h2 span{
	padding-bottom: 4px;
	color:#80b8ff;
	border-bottom: 1px dotted #80b8ff;
	font-size: 14px;
}
.stepList li{
	padding-top:48px;
	text-align: center;
}
.stepList	h3{
	text-align: center;
	font-size: 16px;
	height: 60px;
	color:#999;
	background: url(../img/icon/logo.png) no-repeat center center;
	background-size: contain;
}

.stepList li p{
	font-size: 14px;
	padding: 24px 0;
}

.stepList li:after{
	content: '';
	display: block;
	height: 36px;
	background: url(../img/icon/nextArrow.png) no-repeat center center;
	background-size: contain;
}
.stepList li:nth-of-type(4):after{
	background: none;
	height: 0;
}